@charset "UTF-8";
body{
    font-size: 13px;
}
.main2{
    background-color: black;
    color: red;
    font-size: 10px;
}
.main3{
    font-size: 12px;
}
.main4{
    background-color: #231F20;
    color: red;
}
.copy {
    text-align: right;
    font-size: 15px;
}