@charset "UTF-8";
body{
    background-color: antiquewhite;
}
.Page1{
text-align: center;
}
.Page2{
    text-align: center;
}
.Unity{
    display: inline-block;
    vertical-align: middle;
}
.info1{
    margin-left: 15px;
    display: inline-block;
}
.Copyrightstatement{
    text-align: right;
}
.Copy{
    text-align: right;
}