@charset "UTF-8";
body{
    background-color: blueviolet;
}
.Page1{
text-align: center;
}
.Page2{
    text-align: center;
}
.Copyrightstatement{
    text-align: right;
}
.Copy{
    text-align: right;
}